
		table {
		    border-collapse: collapse;
		    border-spacing: 0;
		    width: 100%;
		    border: 1px solid #ddd;
		}

		th, td {
		    border: none;
		    text-align: left;
		    padding: 8px;
		}

		tr:nth-child(even){background-color: #f2f2f2}

		.heading{
			padding: 10px;
			font-size: 20px;
			text-align: center;
			background-color: lightgrey;
			font-family: Georgia;
		}
		.text{
			color:black;
		}
		.paisa{
			color:skyblue;
		}