/* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }

    .title {
      text-align: center;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #055062;
      padding: 25px;
    }
    footer p {
      color : white;
    }
    .logo a{
      color: #fff;
      text-decoration: none;
      font-size: 1.2em; 
    }
    .paisa{
      color:skyblue;
    }
    .table{
    }
    .container{
      background-color: #f6fbfc;
    }